[submodule "zlib"]
	path = zlib
	url = git://github.com/manuels/unix-toolbox.js-zlib.git
[submodule "libc"]
	path = libc
	url = git://github.com/manuels/unix-toolbox.js-libc.git
[submodule "toolbox-base"]
	path = toolbox-base
	url = git://github.com/manuels/unix-toolbox.js-base.git
